@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');
@import 'Palette';
@import 'Vars-Mixins';

/* General Settings
======================================= */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: $black;
  background-color: $white;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Common
======================================= */
.rotate180 {
  transform: rotate(180deg); // clockwise
}

.rotate-90 {
  transform: rotate(-90deg); // anti-clockwise
}

p.text-input-error {
  margin: 8px;
  padding: 4px 8px;
  border: 0;
  border-radius: 4px;
  color: $white;
  background-color: $red;
}

/* Header
======================================= */
.app-header {
  @include va();
  position: relative;
  width: 100%;
  padding: 0 20%;
  background-color: $white;
  box-shadow: $generic-box-shadow;

  &.dark-mode {
    @include dark-mode-styles();
  }

  .dark-mode-toggle {
    position: absolute;
    right: 20%;
    @include generic-icon();

    &.dark-mode {
      @include dark-mode-styles(true);
    }
  }
}

/* Workspace Selector & List
======================================= */
.workspace-select {
  @include no-select();
  @include va(center);
  position: relative;
  width: 340px;
  padding: 16px;

  &__text-input {
    outline: none;
    width: 200px;
    padding: 8px;
    border: $generic-border;
    box-shadow: none;

    &.dark-mode {
      @include dark-mode-styles();
    }

    &-error {
      border-color: $red;
      box-shadow: $red 0px 0px 2px 1px;
    }
  }

  &__main {
    @include va();
    display: inline-flex;
    padding: 8px;
    cursor: pointer;

    &.dark-mode {
      @include dark-mode-styles(true);
    }

    &:hover {
      background-color: $lighter-gray;
    }

    &-name {
      margin: 0 16px 0 0;
      font-size: 24px;
    }

    &-toggle {
      font-size: 1.5em;
      transition: $generic-transition;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $white;
    box-shadow: rgba(#000000, 0.24) 0px 4px 4px 0px;
    border-top: $generic-border;

    &.dark-mode {
      @include dark-mode-styles();
      border-top: $generic-border-dark;
    }

    &-item {
      border-bottom: $generic-border;

      &.dark-mode {
        border-bottom: $generic-border-dark;
      }

      &-inner {
        @include va(space-between);
        padding: 8px 16px;
      }

      &-name {
        @include no-select();
        padding-right: 16px;
      }

      &-actions {
        @include va(flex-end);

        &-icon {
          @include generic-icon();

          &.dark-mode {
            @include dark-mode-styles(true);
          }
        }
      }
    }
  }
}
