/* Grayscale
======================================= */
$black: #303030;
$gray: #404040;
$light-gray: gray;
$lighter-gray: #f0f0f0;
$white: #ffffff;

/* Colors
======================================= */
$red: #d96668;
