/* Variables
======================================= */
$generic-box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 8px 4px;

/* Mixins
======================================= */
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin va($horizontal-align: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @if $horizontal-align != center {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  } @else {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
